<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for preordering with Selfstarter!</h1>
    <p>
      <!-- Fill in content here -->
    </p>
    <p>Have a great day!</p>
  </body>
</html>