#backing
{
  float: left;
  width: 383px;
  margin: 20px 0 0 40px;
  #backers
  {
    border-left: none;
    padding-left: 0;
    ul
    {
      float: left;
    }
  }
  #days {
    border-right: none;
    padding-right: 0;
  }
  ul {
    text-align: center;
  }
  .stats
  {
    margin: 0 auto;
    color: #3f3f3f;
    font-size: 24px;
    display: block;
    display: inline-block;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    border-right: 1px solid #cbcbcb;
    padding-right: 26px;
    padding-left: 26px;
    text-align: left;
    span
    {
      color: #868686;
      font-size: 18px;
      margin-top: 5px;
      display: block;
      font-family: $primary_font, $secondary_font, $tertiary_font;
    }
  }
}
body.lt-ie9
{
  #progress
  {
    background-image: none !important;
    background-color: #1392dc !important;
  }
}
#progress_bg
{
  margin-top: 20px;
  float: left;
  height: 40px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
  box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 383px;
  background: #dbdbdb;
  #progress
  {
    height: 40px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.59); /* drop shadow */
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.59); /* drop shadow */
    box-shadow: 0 1px 1px rgba(0,0,0,.59); /* drop shadow */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxMzkyZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjlkZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient fill */
    background-image: -moz-linear-gradient(90deg, #1392dc 0%, #069df4 100%); /* gradient fill */
    background-image: -o-linear-gradient(90deg, #1392dc 0%, #069df4 100%); /* gradient fill */
    background-image: -webkit-linear-gradient(90deg, #1392dc 0%, #069df4 100%); /* gradient fill */
    background-image: linear-gradient(90deg, #1392dc 0%, #069df4 100%); /* gradient fill */
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    min-width: 2%;
    width: 100%;
    max-width: 100%;
    display: inline-block;
  }
  #progress_text
  {
    margin: 0 auto;
    width: 100%;
    font-size: 14pt;
    display: inline-block;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.37);
    text-align: center;
    position: relative;
    top: -35px;
  }
}
.small
{
  height: 20px !important;
  #progress
  {
    height: 20px !important;
  }
}
