<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is the Project Wedge?
      </h3>
      <p>
      Project Wedge is a plug-in-and-play battery operated projector for tablets, smart phones, and any other electronic devices that have HDMI video-out capabilities.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        What is it for?
      </h3>
      <p>
        This battery operated projector is designed to be primarily utilized by tablet devices such as Apple's iPad, Amazon's Kindle, and Google's Nexus.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        All-in-One Presentation Kit
      </h3>
      <p>
        he projectors casing doubles as a podium for the ideal presentation stand, while keeping the lense at an optimal projection angle when placed on a flat surface.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Completely Portable
      </h3>
      <p>
        4 hours battery life on a single charge, for those marathon slideshows.
      <p>
    </div>
  </div>
</div>
