<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is To The Gig?
      </h3>
      <p>
        To The Gig is a app created by working musicians for other working musicians. Need someone to fill a spot in your band? Search To The Gig's listings, find a qualified player and check out their videos.
      <p>
    </div>
    
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
        Download the app and sign-up for a free trial. Enter your profile details and upload video clips of your performances.  Once your profile is created you can search or browser all the other member profiles.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Find the right person for your band.
      </h3>
      <p>
        Search for exactly who you need. By instrument, by experience, by genre, by training, by location. To The Gig provides an extensive, detailed profile so you can find that perfect fit.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Get more work.
      </h3>
      <p>
        Completing your own detailed profile activates your "card" in the system. Now others can find and contact you with a single touch. 
      <p>
    </div>
  </div>
</div>
