<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is Milliways?
      </h3>
      <p>
        Milliways is a loose organization of hackerspaces, we have a shared interest in doing cool things at CCC and similar events.

"https://lockitron.com">Lockitron</a> after they were <a href="http://techcrunch.com/2012/10/07/the-story-of-lockitron-crowdfunding-without-kickstarter/">turned down from Kickstarter</a>.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        What is this money going to be used for?
      </h3>
      <p>
        So far, our budget includes:
        <ul>
          <li> €10-12k - Raw food ingridents.  300 people * 6 days * €5-6
          <li> €1.5-2k - The Pub.  A 5 x 14 meter wooden "shed"
          <li> €6-7k - Kitchen equipment, Kitchen tent rental, water supply
          <li> €1.5k - New roof and floor for the dome
          <li> €1 - Sprinter rental and fuel costs for delivering food and equipment
          <li> €2k - Prizes for this campain
        </ul>
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        It's just a skeleton
      </h3>
      <p>
        We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>
