<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
    <h2><%= @settings.ships %></h2>
    <a href="/preorder/checkout" class="blue_button reserve"><%= @settings.middle_reserve_text %></a>
  </div>
</div>
