<div class="gray_background">
  <div class="big_wrapper">
    <div class="wrapper" id="two">
      <h3>
        What is this money going to be used for?
      </h3>
        So far, our budget includes:
      <ul>
        <li> €10-12k - Raw food ingridents.  300 people * 6 days * €5-6</li>
        <li> €1.5-2k - The Pub.  A 5 x 14 meter wooden "shed"</li>
        <li> €6-7k - Kitchen equipment, Kitchen tent rental, water supply</li>
        <li> €1.5k - New roof and floor for the dome</li>
        <li> €1 - Sprinter rental and fuel costs for delivering food and equipment</li>
        <li> €2k - Prizes for this campaign</li>
      </ul>
    </div>
  </div>
</div>
