<div class="gray_background">
  <div class="big_wrapper">
    <div class="wrapper" id="two">
<h3>
What is this money going to be used for?
</h3>
<ol class="rounded-list">
  <li><a> €10-12k - Raw food ingridents.  300 people * 6 days * €5-6 </a></li>
  <li><a> €1.5-2k - The Pub.  A 5 x 14 meter wooden "shed" </a></li>
  <li><a>€6-7k - Kitchen equipment, Kitchen tent rental, water supply </a>
  <li><a> €1.5k - New roof and floor for the dome </a>
  <li><a> €1 - Sprinter rental and fuel costs for delivering food and equipment </a>
  <li><a> €2k - Prizes for this campaign </a>
</ol>
</div>
</div>
</div>
