<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Affordable</h4>
      <p>Unparalleled $99 price compared to similar portable projectors of similar quality on the market.</p>
    </li>
    <li id="section-2">
      <h4>Mobile Optimized</h4>
      <p>The only projector available meant to play nice with your tablet and smartphone devices.</p>
    </li>
    <li id="section-3">
      <h4>Portable</h4>
      <p>Light, sturdy, and a battery life of 4 hours on a single charge. Make your pitch anywhere.</p>
    </li>
    <li id="section-4">
      <h4>Easy as hell</h4>
      <p>Plug in your device and start projecting. No complicated setup or menus to navigate. Nothing to fumble.</p>
    </li>
  </ul>
</div>
