<div id='logos'>
  <ul class="wrapper clearfix">
    <li id="awesomeblog"><a href=""></a></li>
    <li id="coolpaper"><a href=""></a></li>
    <li id="nicemag"><a href=""></a></li>
    <li id="readcrunch"><a href=""></a></li>
  </ul>
</div>
