<div class="sidebar">
  <h5>How do I pay?</h5>
  <p>
Please send money to:</br>
</br>
PayPal: <b>donate@milliways.info</b></br>
</br>
Bank Transfer:</br>
Name: <b>Benjamin Kochie</b></br>
IBAN: <b>DE19 1005 0000 1063 0007 90</b></br>
BIC: <b>BELADEBE</b></br>
</br>
Don't forget to put your code in the bank transfer notes!!!</br>

  </p>
</div>
