.payable {
  background-color: #00baff;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  max-height: 70px;
  min-height: 70px;
}

.checkoutbtn {
  padding: 20px 40px 20px 40px;
  font-size: 1.5rem;
}

.payable:hover {
  background-color: #015675;
  cursor: pointer !important;
}

.center {
  text-align: center;
  margin: auto;
}

.column-flex {
  flex: 1;
  flex-direction: column;
}

.flex {
  flex: 1;
}
.flexbigger {
  flex: 1;
  flex-grow: 4;
}

.main-logo {
}

.options-box {
  width: 400px;
  height: 500px;
  padding-top: 20px;
  .row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
  }
  .column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    button {
      //flex: 1;
      background-color: #00baff;
      cursor: pointer;
      border-radius: 5px;
      font-size: 1.2rem;
      p {
        color: white !important;
      }
    }
    button:hover {
      background-color: #015675;
      cursor: pointer !important;
    }
    p {
      align-self: center;
      margin: auto;
    }
  }
  .spacerflex {
    display: none;
    flex: 1;
  }
}

#header {
  display: flex;
  justify-content: center;
  a {
    flex: 1;
  }
  h1 {
    margin: auto;
  }
}

.smalldisplay {
  padding: 0px 15vw 0px 15vw;
}

@media screen and (max-device-width:$wrapper_breakpoint), screen and (max-width: $wrapper_breakpoint) {
  .maincontent {
    padding: 0px 5vw 0px 5vw;
  }
  .main_content {
    max-width: 100vw;
  }
  ol
  {
    list-style: none;
    margin: 0px 50px 0px 0px;
    word-wrap: normal;
    width: 90vw;
    li {
      max-width: 70vw;
    }
  }
  .options-box {
    width: 100%;
    margin: auto;
    .spacerflex {
      display: flex;
      flex: 1;
    }
    #options_button_1, #options_button_2 {
      width: 100%;
    }
    #options_description_1, #options_description_2 {
      flex: 3;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
    }
  }
}

#options_description_1, #options_description_2 {
  font-size: 20px;
  text-align: left;
  padding: 20px 5px;
  p {
    margin: 0;
    margin-top: 5px;
  }
  h2 {
    padding: 0px;
    margin-top: 5px;
    font-size: 20px;
  }
}

#options_button_1, #options_button_2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.maincontent {
  @media screen and (max-device-width:$mobile_breakpoint), screen and (max-width: $mobile_breakpoint) {
    fieldset {
      max-width: 90vw;
    }
    .options-box {
      margin-left: 0px;
      padding-left: 0px;
      width: 100%;
    }
    #options_button_1, #options_button_2 {
      margin: auto;
      margin-bottom: 0px;
      padding-bottom: 0px;
      min-width: 100%;
    }
    #options_description_1, #options_description_2 {
      padding: 5px 5px 10px 5px;
      width: 95%;
      h2 {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
    .column {
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    #options_description_1 {
      margin-bottom: 20px;
    }
  }
  padding: 0px 5% 0px 5%;
}