.footer 
{
  padding: 40px 0;
  ul 
  {
    float: left;
  }
  li 
  {
    margin-bottom: 10px;
  }
  a 
  {
    font-size: 18px;
    color: #525252;
    font-family: $primary_font, $secondary_font, $tertiary_font;
  }
  p 
  {
    font-size: 18px;
  }
}