<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Preorder</h3>
      <p>
        All of your payment information will be secured and stored with Stripe.
        <br />
        <br />
        Please Enter your details below.

      </p>
      <%= form_tag "/preorder/order", :id => "checkout", :html => { :id => "checkout" } do %>
        <%= render 'preorder/payment_options' %>
        <div class="checkout_controls">
          <div class="checkout_controls_wrapper">
            <div class="checkout_controls_inner">
              <button class="payable checkoutbtn" data-description="option" data-amount="option">Pay through Stripe! </button>
            </div>
          </div>
        </div>
      <% end %>
      <br />
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>
</div>
