<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      THANKS! &lt;3
    </h2>
    <p>Your token is <%= @order.random_token %>.</p>

    <p>Please send money to:</p>
    <p>PayPal: <b>donate@milliways.info</b></p>
    <p>
    Bank Transfer:</br>
    Name: <b>Benjamin Kochie</b></br>
    IBAN: <b>DE19 1005 0000 1063 0007 90</b></br>
    BIC: <b>BELADEBE</b></br>
    </p>
    <p>Don't forget to put your code in the bank transfer notes!!!</p>
  </div>
</div>
