<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <li>
        <a href="#">/faq">Help & FAQs</a>
      </li>
      <li>
        <a href="#">Press & Media</a>
      </li>
      <li>
        <a href="http://blog.lockitron.com/">Blog</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li>
          <a href="/account/login">Login</a>
      </li>
    </ul>
    <p>© 2009-2012 Apigy Inc. All rights reserved. Patents pending.</p>
  </div>
</div>
